{% extends "estructura_base.html" %}
{% load static %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    
    <p>Ingrese los datos de su cuenta</p>
    
    <input type="text" name="username" id="username" placeholder="Nombre de usuario" style="margin: 10px; padding: 10px; font-size: 1em;">
    <br>
    
    <input type="password" name="password" id="password" placeholder="Contraseña" style="margin: 10px; padding: 10px; font-size: 1em;">
    <br>
    
    <button type="submit" style="margin: 10px; padding: 10px 20px; font-size: 1em;">Iniciar sesión</button>
</form>

        <section>
            {% if messages %}
                <ul style="list-style: none; padding: 0; color: red;">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>

<a href="{% url 'registro' %}" style="color: blue; font-size: 1em; text-decoration: underline;">Registrarse</a>
</div>
{% endblock %}