{% extends "estructura_base.html" %}
{% load static %}

{% block content %}
    <form method="post" action="" style="color:white">
        {% csrf_token %}
    
        <input type="text" name="username" id="" placeholder="Nombre de usuario">
        <br>
        <input type="password" name="password" id="" placeholder="Contrasenia">
        <br>
        <button type="submit">Iniciar sesion</button>

    </form>

    <section>
      {% if messages %}
      <ul>
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
    </section>
{% endblock %}
 