{% extends "estructura_base.html" %}
{% load static %}
{% block content %}

<h2>Editar Artículo</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  
  <table class="table">
    <tr>
      <th>{{ form.nombre.label_tag }}</th>
      <td>
        {{ form.nombre }}
        {% if form.nombre.errors %}
          <div class="alert alert-danger">
            {{ form.nombre.errors }}
          </div>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>{{ form.descripcion.label_tag }}</th>
      <td>
        {{ form.descripcion }}
        {% if form.descripcion.errors %}
          <div class="alert alert-danger">
            {{ form.descripcion.errors }}
          </div>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>{{ form.precio.label_tag }}</th>
      <td>
        {{ form.precio }}
        {% if form.precio.errors %}
          <div class="alert alert-danger">
            {{ form.precio.errors }}
          </div>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>{{ form.imagen.label_tag }}</th>
      <td>
        {{ form.imagen }}
        {% if form.imagen.errors %}
          <div class="alert alert-danger">
            {{ form.imagen.errors }}
          </div>
        {% endif %}
      </td>
    </tr>
  </table>
  
  <button type="submit" class="btn btn-primary">Guardar cambios</button>
  <a href="{% url 'mis_articulos' %}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}