{% extends "estructura_base.html" %}
{% load static %}
{% block content %} 

<form action="{% url 'eliminar_articulo' %}" method="post">
  {% csrf_token %}

  <table class="table">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        
      </tr>
    </thead>
    <tbody>
      {% for articulo in articulos %}
      <tr>
        <td><img src="{{ articulo.imagen.url }}" style="width: 100px;"></td>
        <td>{{ articulo.nombre }}</td>
        <td>{{ articulo.descripcion }}</td>
        <td>{{ articulo.precio }}</td>
        <td><input type="checkbox" name="articulos_seleccionados[]" value="{{ articulo.id }}"></td>
        <td><a href="{% url 'actualizar_articulo' articulo.id %}">Modificar articulo</a></td>
      </tr>
      {% empty %}
        <tr>
          <td colspan="6">No hay artículos disponibles.</td>
        </tr>
        <tr>
          <td colspan="6">
            <a class="boton" href="{% url 'nuevo_articulo' %}">Agregar artículo</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if articulos %}
    <button type="submit" class="btn btn-danger" name="accion" value="eliminar">Eliminar</button>
  {% endif %}
</form>

{% if messages %} 
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}