{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu Aplicación</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    
    <!-- Styles -->
    <link href="{% static 'home.css' %}" rel="stylesheet"> <!-- Enlace al archivo CSS -->

</head>

<body>
    <div class="container">
        <header>
            <!-- Navbar -->
            <nav>
                <ul class="menu-horizontal">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li>
                        <a href="#">Cotizaciones</a>
                        <ul class="menu-vertical">
                            <li><a href="{% url 'nueva_cotizacion' %}">Nueva cotización</a></li>
                            <li><a href="{% url 'mis_cotizaciones' %}">Mis cotizaciones</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Artículos</a>
                        <ul class="menu-vertical">
                            <li><a href="{% url 'nuevo_articulo' %}">Nuevo artículo</a></li>
                            <li><a href="{% url 'mis_articulos' %}">Mis artículos</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Clientes</a>
                        <ul class="menu-vertical">
                            <li><a href="{% url 'nuevo_cliente' %}">Nuevo cliente</a></li>
                            <li><a href="{% url 'mis_clientes' %}">Mis clientes</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Cuenta</a>
                        <ul class="menu-vertical">
                            <li><a href="{% url 'mis_empresas' %}">Mis datos</a></li>
                            {% if request.user.is_authenticated %}
                                <li>
                                    <form method="post" action="{% url 'logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-link menu-link">Cerrar sesión</button>
                                    </form>
                                </li>
                            {% else %}
                                <li>
                                    <form method="get" action="{% url 'login' %}">
                                        <button type="submit" class="btn btn-link menu-link">Iniciar sesión</button>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
            </nav>
            <div class="bienvenida">
                {% if request.user.is_authenticated and request.resolver_match.url_name == 'home' %}
                    <p style="background-color: gray; color: white; display: inline-block; padding: 5px;">
                        {{ request.user.username|upper }}, bienvenido!
                    </p>
                {% endif %}
            </div>
        </header>
    </div>
    
    <div id="html">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <!-- Pie de página -->
        <div class="container">
            <p>&copy; 2024 Título de tu Aplicación. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body> 
</html>