{% extends "estructura_base.html" %}
{% load static %}
{% block content %} 

        <section class="hero-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Cotiza tus productos, facil y rapido.</h1>
                        <p>Una solución integral para tu negocio.</p>
                        <a href="{% url 'nueva_cotizacion' %}" class="btn btn-primary">Crear una cotizacion ahora</a>
                    </div>
                    <div class="col-lg-6">
                        <!-- Aquí podrían ir imágenes o contenido adicional -->
                    </div>
                </div>
            </div>
        </section>
    </header>


{% endblock %}