{% extends "estructura_base.html" %}
{% load static %}
{% block content %} 

        <section class="hero-section">
            <div class="container">
                <div class="row">
                        <div class="hero-home">
                            <h1>Bienvenido a tu sistema de cotizaciones</h1>
                            <p>Gestiona tus ventas de forma simple y profesional.</p>
                            <a href="{% url 'nueva_cotizacion' %}" class="btn btn-primary btn-lg mt-3">Crear nueva cotización</a>
                        </div>
                    <div class="col-lg-6">
                        <!-- Aquí podrían ir imágenes o contenido adicional -->
                    </div>
                </div>
            </div>
        </section>
    </header>


{% endblock %}