{% extends "estructura_base.html" %}
{% load static %}
{% block content %}

<form action="{% url 'eliminar_empresa' %}" method="post">
  {% csrf_token %}

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>CUIT</th>
        <th>Teléfono</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for empresa in empresas %}
      <tr>
        <td>{{ empresa.nombre }}</td>
        <td>{{ empresa.cuit }}</td>
        <td>{{ empresa.telefono }}</td>
        <td>{{ empresa.mail }}</td>
        <td><input type="checkbox" name="empresas_seleccionadas[]" value="{{ empresa.id }}"></td>
        <td><a href="{% url 'actualizar_empresa' empresa.id %}">Modificar empresa</a></td>
      </tr>
      {% empty %}
        <tr>
          <td colspan="7">No hay empresas disponibles.</td>
        </tr>
        <tr>
          <td colspan="7">
            <a class="boton" href="{% url 'nueva_empresa' %}">Agregar empresa</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if empresas %}
    <button type="submit" class="btn btn-danger" name="accion" value="eliminar">Eliminar</button>
  {% endif %}
</form>

{% if messages %} 
<ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
