{% extends "estructura_base.html" %}
{% load static %}
{% block content %}

<h2>Editar Cliente</h2>
<form method="post">
  {% csrf_token %}
  
  <table class="table">
    <tr>
      <th>{{ form.nombre.label_tag }}</th>
      <td>
        {{ form.nombre }}
        {% if form.nombre.errors %}
          <div class="alert alert-danger">
            {{ form.nombre.errors }}
          </div>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>{{ form.nombre_empresa.label_tag }}</th>
      <td>
        {{ form.nombre_empresa }}
        {% if form.nombre_empresa.errors %}
          <div class="alert alert-danger">
            {{ form.nombre_empresa.errors }}
          </div>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>{{ form.telefono.label_tag }}</th>
      <td>
        {{ form.telefono }}
        {% if form.telefono.errors %}
          <div class="alert alert-danger">
            {{ form.telefono.errors }}
          </div>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>{{ form.mail.label_tag }}</th>
      <td>
        {{ form.mail }}
        {% if form.email.errors %}
          <div class="alert alert-danger">
            {{ form.email.errors }}
          </div>
        {% endif %}
      </td>
    </tr>
  </table>
  
  <button type="submit" class="btn btn-primary">Guardar cambios</button>
  <a href="{% url 'mis_clientes' %}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}