{% extends "estructura_base.html" %}
{% load static %}
{% block content %}

<form action="{% url 'eliminar_cliente' %}" method="post">
    {% csrf_token %}

    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Empresa</th>
          <th>Telefono</th>
          <th>Mail</th>
          
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
        <tr>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.nombre_empresa }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.mail }}</td>
          <td><input type="checkbox" name="clientes_seleccionados[]" value="{{ cliente.id }}"></td>
          <td><a href="{% url 'actualizar_cliente' cliente.id %}">Modificar datos</a></td>
        </tr>
        {% empty %}
            <tr>
              <td colspan="6">No hay artículos disponibles.</td>
            </tr>
            <tr>
              <td colspan="6">
                <a class="boton" href="{% url 'nuevo_cliente' %}">Agregar cliente</a>
              </td>
            </tr>
        {% endfor %}
      </tbody>

      
    </table>
    {% if clientes %}
      <button type="submit" class="btn btn-danger" name="accion" value="eliminar">Eliminar</button>
    {% endif %}
  </form>

  {% if messages %} 
  <ul>
      {% for message in messages %}
          <li>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  
  {% endblock %}