{% extends "estructura_base.html" %}
{% load static %}
{% block content %} 

<section> 

    <title>Nuevo cliente</title>

    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Guardar</button>
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</section>

{% endblock %}