# Archivos sensibles
.env
*.env
.env.db

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Django
db.sqlite3
*.log
/static/
/media/

# Entornos virtuales
venv/
env/
.venv/

# Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db